html {
  background: #141414;
  pointer-events: none;
  user-select: none;
}

body {
  min-height: 100vh;
  color: #ededed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.holder {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  align-items: flex-start;
}

.logo {
  width: 100%;
  max-width: 250px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.4));
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  background: url("../images/bg.png") center center;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .holder {
    margin: 0;
  }

  .logo {
    max-width: 35vw;
  }
}